

//Global Variables
$bodyBg: #ecececbf;
$bodyColor: #4f5f6f;
$textColor: #4f5f6f;
$loginBg:#667380;
$headerBg: #d7dde4;
$footerBg: #d7dde4;
$sidebarBg: #2d323e;
$sidebarHeaderBg: #1e2129;
$titleColor: rgb(206, 54, 54);
$primaryTextColor: #4f5f6f;
$secondaryTextColor: #4f5f6f;
$primaryLink: rgb(206, 54, 54); 
$menuLinkColor: rgba(255, 255, 255, 0.5);
$menuLinkBg: #1e2129;
$menuLinkHoverBg: #da1818;
$menuLinkHoverColor: #fff;
$menuHoverColor: rgb(206, 54, 54);
$tertiaryColor: #007FFF;
$borderColor: rgb(212, 212, 212);
$primaryBtnColor: #fff;
$primaryBtnBg: rgb(206, 54, 54);
$primaryBtnBgHover: #c82333;
$secondaryBtnColor: #fff;
$secondaryBtnBg: #6c757d;
$secondaryBtnBgHover: #5a6268;
$toggleColor: #ce3636;
$tableRowBg: #252b31;
$oddRowBg: #e9ecef;
$evenRowBg: #fff;
$tableBorder: #ddd;